@font-face {
  font-family: "Inter", sans-serif;
  src: url('../src/fonts/source/Inter-VariableFont_opsz\,wght.ttf');
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html{
  scroll-behavior: smooth;
}


body{
  font-family: "Inter", sans-serif;
  background: #E1E1E1;
  color: #000000;
  /* overflow: hidden; */
}

a{
   color: #000000;
}

.btn{
  background: #000000;
  color: #ffffff;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover{
  background: transparent;
  color: #000000;
  border: 1px solid #000000;
}